<body class="text-center">
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="container">
    <h1>La team</h1>
    <p>Salut, c'est moi.</p><br/><br/>
  </div>

  <div class="container text-center">
    <a class="btn btn-primary btn-lg" role="button" href="<%=root_path%>">Revenir à l'accueil</a>
  </div>

  <br/>
  <br/>
  <br/>
  <br/>
</body>
