<body class="text-center">
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="container">
    <h1>Nous contacter</h1>
    <p>Email : email@email.com</p><br/>
    <p>Tél : 0605040302</p><br/><br/>
  </div>
  
  <div class="container text-center">
    <a class="btn btn-primary btn-lg" role="button" href="<%=root_path%>">Revenir à l'accueil</a>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
</body>
